@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Unit Converter</h1>
    <p>Convert units of area, length, temperature, volume and weight easily.</p>
    <p>
        <a class="btn btn-primary" href="/Conversion/Area">Convert Area</a>
        <a class="btn btn-primary" href="/Conversion/Length">Convert Length</a>
        <a class="btn btn-primary" href="/Conversion/Temperature">Convert Temperature</a>
        <a class="btn btn-primary" href="/Conversion/Volume">Convert Temperature</a>
        <a class="btn btn-primary" href="/Conversion/Weight">Convert Weight</a>
    </p>
</div>
